<% if count.release_id == 2 %>
  <div class="card">
    <%= link_to image_tag(count.image, class: :card__img ), count_path(count.id) %>
    <div class="card__body">
      <%= link_to count.name, count_path(count.id), class: :card__title%>
      <%= link_to "by#{count.user.nickname}", root_path, class: :card__user %>
    </div>
  </div>
<% else %>
<% end %>