<div class="card">
  <%= link_to image_tag("カウントの画像", class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to "カウントの名前", root_path, class: :card__title%>
    <%= link_to "by カウントの投稿者名", root_path, class: :card__user %>
  </div>
</div>