<tr>
  <th class="detail-item">タイトル</th>
  <td class="detail-value"><%= detail.title %></td>
</tr>
<tr>
  <th class="detail-item">回数</th>
  <td class="detail-value"><%= detail.number %></td>
</tr>
<tr>
  <th class="detail-item">確率</th>
  <td class="detail-value"><%= detail.probability %></td>
</tr>